div{
    border: 2px solid greenyellow;
    border-radius: 20px;
    background-color: aqua;
    height: 300px;
    width: 400px;
    margin: 20px;
}

h1{
    color: blue;
}

#email{
    margin: 15px;
    width: 300px;
    height: 20px;
    color: red;
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 5px;
    /* background-image: url("admin picture");
    background-repeat: no-repeat; */
}
#pass{
    margin: 15px;
    width: 300px;
    height: 20px;
    color: red;
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 5px;
    /* background-image: url("lock picture");
    background-repeat: no-repeat; */
}
#submit{
    margin: 10px;
    width: 60px;
    height: 30px;
    color: brown;
    border-radius: 10px;
    padding: 5px;

}
#reset{
    margin: 10px;
    width: 60px;
    height: 30px;
    color: brown;
    border-radius: 10px;
    padding: 5px;
}
a{
    margin: 20px;
    text-decoration: none;
    color: #0303f3;
}

input::placeholder{
    color: blueviolet;
}
